# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

*.h5
*.hdf5
*.v2
*.npy
*.csv

*.dmg
*.iso
*.tar
*.zip
*.gz

*.xlsx
*.xls
*.pdf
*.docs
*.ppt
*.pptx

data/
model/
save/
# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode